h3 {
  margin-left: 2em;
}

#joy {
  text-align: center;
}

.voteButton {
  display: inline-block;
  margin: 1em;
}

#candidateFormDiv {
  margin-left: 3em;
}

.columnDiv {
  background-color: rgba(254, 243, 236, 0.9);
  margin-bottom: 2em;
  border-radius: 10px;
  transition: width 1s;

}

body {
  background-color: rgb(231, 231, 231)
}
